* {
    margin: 0;
    padding: 0;

}

:root {
    /*Bestemmer vores standart farver*/
    --grå: #d0cfcb;
    --hvid: #F6F6F6;
    --lysorange: #e2903a;
    --morkorange: #EB5C00;
    --brunroed: #B23902;
}

.logo {
    /*Sætter logoet i midten af midten, og sørger for den ligger over alt*/
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

header {
    display: flex;
    justify-content: center;
}

/*Sørger for vores billede i headeren kommer bag ved alt, og fylder helt ud på skærmen*/
header img {
    max-width: 100%;
    z-index: -1;
}

/*Vores søge ikon, sørger for cursor ændrer sig til pointer når du er over den*/
.søge {
    position: absolute;
    top: 40px;
    right: 140px;
    font-size: 30px;
    color: var(--hvid);
    z-index: 1;
    cursor: pointer;
}


.søgefelt {
    position: absolute;
    top: 5px;
    left: -250px;
    color: #f6f6f6;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.søgefelt::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 95px;
    animation: slideSide 1s ease;
}

.søgefelt input {
    list-style: none;
    padding: 5px 20px;
    margin-right: 20px;
    text-align: center;
    background-color: var(--hvid);
    animation: slideSide 1s ease;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-family: "Cinzel", serif;
}

@keyframes slideSide {
    from {
        opacity: 0;
        transform: translateX(10px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.søge i:hover input {
    opacity: 1;
    transform: all 1s ease;
}

.søge:hover .søgefelt {
    display: flex;
}


.burger {
    position: absolute;
    display: inline-block;
    top: 40px;
    right: 65px;
    font-size: 30px;
    color: var(--hvid);
    z-index: 1;
    text-decoration: none;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    top: 50px;
    left: -90px;
    color: #f6f6f6;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.dropdown::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 95px;
    border: 10px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    animation: slideDown 1s ease;
}

.dropdown ul {
    list-style: none;
    padding: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    animation: slideDown 1s ease;
    border-radius: 5px;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.burger i:hover ul {
    opacity: 1;
    transform: all 1s ease;
}

.dropdown ul li {
    padding: 5px 40px;
}

.dropdown ul li a {
    font-family: "Cinzel", serif;
    color: #F6F6F6;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
}

.burger:hover .dropdown {
    display: flex;
}

.dropdown li:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

body {
    background-color: #f6f6f6;
}

/* Galleriet af billeder */
.rundebilleder {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* 5 kolonner */
    gap: 20px;
    /* Afstand mellem billederne og rækkerne */
    grid-row-gap: 40px;
    /* Afstand mellem rækkerne */
    justify-items: center;
    /* Centrerer billederne horisontalt */
    grid-auto-rows: auto;
    /* Højden justeres automatisk afhængigt af billedet og teksten */
    margin-top: 0%;
    /* Mindre afstand mellem overskriften og billederne */
    width: 100%;
    margin-bottom: 30px;
    /* Mindre afstand mellem billederne og næste sektion */
}

/* Stil til stjernerne */
.star-rating .fa-star {
    color: #d0cfcb;
    /* Sæt denne til din ønskede grå farve */
}

/* Farve til de "checked" stjerner */
.star-rating .fa-star.checked {
    color: var(--lysorange);
    /* Beholder din orange farve for checked stjerner */
}

/* Container for hvert billede og tekst */
.billede-container {
    text-align: center;
    /* Centrerer både billede og tekst */
}

/* Styling af billederne */
.billede-container img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    /* Gør billederne runde */
    object-fit: cover;
    /* Sikrer at billedet fylder cirklen uden at blive forvrænget */
    transition: transform 0.3s ease;
    /* Glidende effekt ved zoom */
}

/* Zoom-effekt på billederne */
.billede-container img:hover {
    transform: scale(1.1);
    /* Forstørrer billedet med 10% ved hover */
}

/* Styling af teksten under billederne */
.billede-container p {
    margin-top: 15px;
    /* Afstand mellem billede og tekst */
    font-size: 20px;
    /* Tekststørrelse */
    color: #B23902;
    /* Tekstfarve */
}

/* Styling af overskrifterne */
main h2.overskrift_retter {
    font-size: 35px;
    color: #B23902;
    text-align: left;
    /* Venstrestillet */
    margin-left: 4.5%;
    /* Juster venstre margen efter behov */
    margin-bottom: -1%;
    /* Mindre afstand mellem overskriften og billederne */
}

main h2.overskrift_salater {
    font-size: 25px;
    color: #B23902;
    text-align: left;
    /* Venstrestillet */
    margin-left: 5.3%;
    /* Juster venstre margen efter behov */
    margin-bottom: 10px;
    /* Mindre afstand mellem overskriften og billederne */
}

main h2.overskrift_tilbehor {
    font-size: 25px;
    color: #B23902;
    text-align: left;
    /* Venstrestillet */
    margin-left: 5.3%;
    /* Juster venstre margen efter behov */
    margin-bottom: 3px;
    /* Mindre afstand mellem overskriften og billederne */
}

/* Container for filter */
.filter-container {
    display: flex;
    justify-content: flex-end;
    /* Holder knappen til højre */
    margin-top: -10px;
    /* Juster afstanden fra toppen */
    margin-bottom: 20px;
    /* Mindre afstand mellem knappen og billeder */
    margin-right: 5%;
    /* Juster knappen mod midten */
}

/* Styling af filtreringsknappen */
.filter-button {
    background-color: #e2903a;
    color: white;
    padding: 10px 30px;
    font-size: 13px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    /* Glidende baggrundsfarve ved hover */
}

/* Hover-effekt for filtreringsknappen */
.filter-button:hover {
    background-color: #b23902;
    /* Ændrer baggrundsfarven ved hover */
}

footer {
    background-color: #e2903a;
    padding: 20px;
    color: #F6F6F6;
}

.footer p {
    font-family: "Cinzel", serif;

}

@media (max-width: 768px) {
    .logo {
        width: 25%;
        left: 15%;
        top: 7%;
    }

    .burger {
        left: 85%
    }

    .søge {
        left: 75%
    }

    .søgefelt {
        left: -200px;
    }

    .søgefelt input {
        padding-left: 1px;
        padding-right: 1px;
    }
}

@media (max-width: 1024px) {


    .logo {
        position: absolute;
        top: 10%;
        left: 85%;
        width: 25%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }

    .søge {
        left: 20%;
    }

    .søgefelt {
        left: 10%;
        top: 5%;
    }

    .burger {
        left: 10%;
        width: 50px;
    }

    .header_img img {
        display: flex;
    }

    .Tekst {
        width: 40%;
    }

    .række3 img {
        width: 400px;
        margin: 5% 0 5% 10%;

    }

    .rundebilleder {
        margin: 5.5%;
    }

    .rundebilleder #nrfem {
        display: none;
    }
}