*{
    margin: 0;
    padding: 0;
    font-family: "Cinzel", serif;
}

:root{
    --grå: #d0cfcb;
    --hvid: #F6F6F6;
    --lysorange: #e2903a;
    --morkorange: #EB5C00;
    --brunroed: #B23902;
}

.logo{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
header{
    display: flex;
    justify-content: center;
}


header img {
    max-width: 100%;
    z-index: -1;
  }
.søge{
    position: absolute;
    top: 40px;
    right: 140px;
    font-size: 30px; /* Adjust icon size */
    color: var(--hvid); /* Matches text color */
    z-index: 1; /* Place above background image */

}


.søgefelt{
    position: absolute;
    top: -8px;
    right: 50px;
    animation: glidUd 1s ease;
}
@keyframes glidUd{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.søgefelt i:hover input{
    opacity: 1;
    transform: all 1s ease;
}
.burger{
    position: absolute;
    display: inline-block;
    top: 40px;
    right: 65px;
    font-size: 30px; /* Adjust icon size */
    color: var(--hvid); /* Matches text color */
    z-index: 1; /* Place above background image */
    text-decoration: none;
    cursor: pointer;
}
.dropdown{
    position: absolute;
    top: 50px;
    left: -90px;
    color: #f6f6f6;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}
.dropdown::before{
    content: "";
    position: absolute;
    top:-20px;
    left: 95px;
    border: 10px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    animation: slideDown 1s ease;
}

.dropdown ul{
    list-style: none;
    padding: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    animation: slideDown 1s ease;
    border-radius: 5px;
}
@keyframes slideDown{
    from{
        opacity:0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.burger i:hover ul{
    opacity: 1;
    transform: all 1s ease;
}

.dropdown ul li{
    padding: 5px 40px;
}
.dropdown ul li a{
    color: #F6F6F6;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
}
.burger:hover .dropdown{
    display: flex;
}
.dropdown li:hover{
    background-color: rgba(0, 0, 0, 0.3);
}



body{
    background-color: #f6f6f6;
  }
