*{
    margin: 0;
    padding: 0;
    
}

/* Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cinzel:wght@400..900&display=swap');

/* Variabler*/
:root{ 
    --grå: #d0cfcb;
    --hvid: #F6F6F6;
    --lysorange: #e2903a;
    --morkorange: #EB5C00;
    --brunroed: #B23902;
    --opkriftgraa: #eaeaea;
}

/*Sætter logoet i midten af midten, og sørger for den ligger over alt*/
.logo{ 
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

/* Header redigering */
header{
    display: flex;
    justify-content: center;
}

/*Sørger for vores billede i headeren kommer bag ved alt, og fylder helt ud på skærmen*/
header img { 
    max-width: 100%;
    z-index: -1;
  }

  /*Vores søge ikon, sørger for cursor ændrer sig til pointer når du er over den*/
.søge{
    position: absolute;
    top: 40px;
    right: 140px;
    font-size: 30px; 
    color: var(--hvid); 
    z-index: 1; 
    cursor: pointer;
}

/*søgefelt redigering */
.søgefelt{
    position: absolute;
    top: 5px;
    left: -250px;
    color: #f6f6f6;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.søgefelt::before{
    content: "";
    position: absolute;
    top:-20px;
    left: 95px;
    animation: slideSide 1s ease;
}

.søgefelt input{
    list-style: none;
    padding: 5px 20px;
    margin-right: 20px;
    text-align: center;
    background-color: var(--hvid);
    animation: slideSide 1s ease;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-family: "Cinzel", serif;
}
@keyframes slideSide{
    from{
        opacity:0;
        transform: translateX(10px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.søge i:hover input{
    opacity: 1;
    transform: all 1s ease;
}
.søge:hover .søgefelt{
    display: flex;
}

/*burger menu redigering */
.burger{
    position: absolute;
    display: inline-block;
    top: 40px;
    right: 65px;
    font-size: 30px; 
    color: var(--hvid); 
    z-index: 1; 
    text-decoration: none;
    cursor: pointer;
}

.dropdown{
    position: absolute;
    top: 50px;
    left: -90px;
    color: #f6f6f6;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}

.dropdown::before{
    content: "";
    position: absolute;
    top:-20px;
    left: 95px;
    border: 10px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    animation: slideDown 1s ease;
}

.dropdown ul{
    list-style: none;
    padding: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    animation: slideDown 1s ease;
    border-radius: 5px;
}
@keyframes slideDown{
    from{
        opacity:0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.burger i:hover ul{
    opacity: 1;
    transform: all 1s ease;
}

.dropdown ul li{
    padding: 5px 40px;
}

.dropdown ul li a{
    font-family: "Cinzel", serif;
    color: #F6F6F6;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
}

.burger:hover .dropdown{
    display: flex;
}

.dropdown li:hover{
    background-color: rgba(0, 0, 0, 0.3);
}



/*body redigering */
body{
    background-color: var(--hvid);
  }

/* footer redigering */
footer{
    background-color: var(--lysorange);
    padding: 20px;
    color: var(--hvid);
    font-family: "Cinzel", serif;
  }
   


/* id redegeringer */  
#dumplings{
        width: 60%;
        height: auto;
        margin-left: 30%;
        border-radius: 50%;
}

#infographic, #dumplings{
    display: block;
}

#infographic{
width: 108%;
height: auto;
margin-left: 8%;
margin-top: 8%;
margin-bottom: 5%;
border: 3px solid var(--opkriftgraa);
}

/* overskift redigering */
h1{
    font-family: "Cinzel", serif;
    font-size:250%;
    margin-left: 25%;
    margin-top: 6%;
    color: var(--brunroed);
}

/* Gem swirls på pc */
#swirl1,
#swirl2{
    display: none;
}

/* redigering af små features */
.smaa_features{
    display: flex;
    margin-top: 6%;
    margin-left: 25%;
}

/* redigering af stjeneratting */
.starrating{
    color: var(--grå);
    margin-right: 15%;
  }

.checked{
    color: var(--lysorange);
}

/* redigering af antal personer */
.minus{
    color: var(--hvid);
    background-color: var(--lysorange);
    border: none;
    width: 15%;
    cursor: pointer;
    height: auto;
}

.plus{
    color: var(--hvid);
    background-color: var(--lysorange);
    border: none;
    width: 15%;
    cursor: pointer;
    height: auto;
}

.antal{
    color: var(--brunroed);
    background-color: var(--hvid);
    border: 2px solid var(--lysorange);
    width: 20%;
    height: auto;
    text-align: center;
}

.antal_personer{
    margin: 0;
    padding: 0;
}

/* redigering af holdt skærm tændt*/
.skaerm_taendt{
    display: block;
    position: relative;
    padding-left: 3%;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--brunroed);
  }
  
  .skaerm_taendt input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: var(--hvid);
    border: 2px solid var(--grå);
  }

  /* Hover farveskift på hold skærm tændt*/
.skaerm_taendt:hover input ~ .checkmark {
    background-color: var(--grå);
  }
  
  /* checkbox is checked redigering */
  .skaerm_taendt input:checked ~ .checkmark {
    background-color: var(--lysorange);
  }
  
  /* Create the checkmark indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .skaerm_taendt input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* checkmark indicator */
  .skaerm_taendt .checkmark:after {
    left: 3px;
    width: 5px;
    height: 8px;
    border: solid var(--hvid);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

/* redigering af overskiften */
.overskifter{
    font-family: "Cinzel", serif;
    color: var(--brunroed);
    font-size: small;
    display: flex;
    gap: 26%;
    margin-left: 28%;
    margin-top: 2%;
}

/* overskirfter til telefon */
h3{
    display: none;
}

/* infographic til tablet fjernet fra pc */
#infographic_tablet{
    display: none;
}

/* redigering af tekster */
.tekst{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--brunroed);
    margin-top: 2%;
    margin-left: 20%;
    gap: 2%;
    margin-right: 2%;
}


.ingredienser{
    height: 30%;
    background-color: var(--opkriftgraa);
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5%;
    line-height: 2;
    width: 50%;
}

.fremgangsmåde{
    text-align: unset;
    background-color: var(--opkriftgraa);
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5%;
    line-height: 1.5;
    margin-right: 1%;
    width: 70%;
}

/*main redigering */
main{
    display: flex;
}


/*Telefon*/
/* header stuff */
@media (max-width: 768px){
    .logo{
        width: 25%;
        left: 15%;
        top: 6%;
    }
    .burger{
        left: 85%
    }
    .søge{
        left: 75%
    }
    .søgefelt{
        left: -200px;
    }
    .søgefelt input{
        padding-left: 1px;
        padding-right: 1px;
    }

/* site indghold redigering */
main{
    display: block;
}

#dumplings{
    width: 60%;
    margin-left: 20%;
}

/* swirls og dumplings billede */
.billeder{
    display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5%;
}

/* swirls og dumpling billeder */
#swirl1{
    display: block;
    width: 20%;
    height: auto;
    margin-left: 0%;
}

#dumplings {
    width: 52%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 4%;
}

#swirl2 {
    display: block;
    width: 20%;
    height: auto;
    margin-right: 0%;
}

#infographic{
    width: 90%;
    margin-left: 5.5%;
    display: none;
}


h1{
    margin-left: 2%;
    font-size: xx-large;
    text-align: center;
}

.smaa_features{
    margin-left: 2%;
    margin-top: 8%;
}

.starrating{
    margin-right: 2%;
    width: 35%;
}

.skaerm_taendt{
    padding-left: 3%;
    text-align: center;
}

.overskifter{
    display: none;
}

.antal_personer{
    text-align: center;
}


#ingredienser_mobil{
font-size: 140%;
color: var(--brunroed);
margin-left: 5%;
font-family: "Cinzel", serif;
margin-top: 8%;
display: block;
}

#fremgangsmåde_mobil{
    font-size: 140%;
color: var(--brunroed);
margin-left: 5%;
font-family: "Cinzel", serif;
margin-top: 8%;
margin-bottom: 2.5%;
display: block;
}


.tekst{
    margin-left: 3%;
    display: block;
    margin-right: 3%;
}

.ingredienser{
    width: 90%;
    font-size: 120%;
    padding-left: 6%;
}

.fremgangsmåde{
    width: 90%;
    font-size: 120%;
    padding-left: 6%;
    margin-bottom: 3%;
}

}


/*Tablet*/
@media (max-width: 1024px) and (min-width: 768px){
        
    .logo{ 
         position: absolute;
        top: 15%;
        left: 85%;
        width: 25%;
        transform: translate(-50%, -50%);
        z-index: 2;
    } 

    .søge{
        left: 20%;
    }
    .søgefelt{
        left: 10%;
        top: 5%;
    }
    .burger{
        left:10%;
        width: 50px;
    }
    .header_img img{
        display: flex;
        width: 100%;
    }

    .Tekst{
        width: 40%;
         }


         
/* site indghold redigering */

#infographic{
    display: none;
}

#infographic_tablet{
    display: block;
    margin-left: 1.5%;
    width: 108%;
    margin-bottom: 1.5%;
}

#dumplings{
    width: 90%;
    height: auto;
    margin-left: 40%;
}

.billeder{
    display: none;
}

.kolonne2{
    width: 90%;
}

.fremgangsmåde{
    margin-bottom: 1.5%;
}

.tekst{
    margin-left: 1.5%;
    width: 109%;
}

#ingredienser{
    margin-left: -10%;
}

#Fremgangsmåde{
    margin-left: 10%;
}

         }
