/* Nulstil margin og padding på alle elementer */
* {
    margin: 0;
    padding: 0;
}

/* Definerer CSS-variabler til farver */
:root {
    --grå: #d0cfcb; /* Grå farve */
    --hvid: #F6F6F6; /* Hvid farve */
    --lysorange: #e2903a; /* Lys orange farve */
    --morkorange: #EB5C00; /* Mørk orange farve */
    --brunroed: #B23902; /* Brunrød farve */
}

/* Styling af logoet */
.logo {
    position: absolute; /* Absolut positionering */
    top: 15%; /* Placerer logoet 15% fra toppen */
    left: 50%; /* Centrerer logoet horisontalt */
    transform: translate(-50%, -50%); /* Justerer for korrekt centrering */
    z-index: 2; /* Sørger for, at logoet vises ovenpå andre elementer */
}

/* Styling af header */
header {
    display: flex; /* Gør headerens layout fleksibelt */
    justify-content: center; /* Centrerer indholdet horisontalt */
}

/* Styling af billeder i header */
header img {
    max-width: 100%; /* Sørger for, at billedet fylder containerens bredde */
    z-index: -1; /* Placerer billedet bag andre elementer */
}

/* Skjuler elementet med klassen 'headermobil' */
.headermobil {
    display: none; /* Ingen visning */
}

/* Skjuler elementerne med klasserne 'side1' og 'side2' */
.side1, .side2 {
    display: none; /* Ingen visning */
}

/* Styling af søgeikonet */
.søge {
    position: absolute; /* Absolut positionering */
    top: 40px; /* Placerer ikonet 40px fra toppen */
    right: 140px; /* Placerer ikonet 140px fra højre */
    font-size: 30px; /* Skriftstørrelse */
    color: var(--hvid); /* Brug af hvid farve fra variablerne */
}

.søgefelt {
    position: absolute;
    top: 2px;
    left: -230px;
    color: #f6f6f6;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.søgefelt::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 95px;
    animation: slideSide 1s ease;
}

.søgefelt input {
    list-style: none;
    padding: 5px 20px;
    margin-right: 20px;
    text-align: center;
    background-color: var(--hvid);
    animation: slideSide 1s ease;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-family: "Cinzel", serif;
}

@keyframes slideSide {
    from {
        opacity: 0;
        transform: translateX(10px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.søge i:hover input {
    opacity: 1;
    transition: all 1s ease;
}

.søge:hover .søgefelt {
    display: flex;
}


.burger {
    position: absolute;
    display: inline-block;
    top: 40px;
    right: 65px;
    font-size: 30px;
    color: var(--hvid);
    z-index: 1;
    text-decoration: none;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    top: 50px;
    left: -90px;
    color: #f6f6f6;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.dropdown::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 95px;
    border: 10px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    animation: slideDown 1s ease;
}

.dropdown ul {
    list-style: none;
    padding: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    animation: slideDown 1s ease;
    border-radius: 5px;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.burger i:hover ul {
    opacity: 1;
    transition: all 1s ease;
}

.dropdown ul li {
    padding: 5px 40px;
}

.dropdown ul li a {
    font-family: "Cinzel", serif;
    color: #F6F6F6;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
}

.burger:hover .dropdown {
    display: flex;
}

.dropdown li:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

body {
    background-color: #f6f6f6;
}

/* Justér galleriet af billeder */
.rundebilleder {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* 5 kolonner */
    gap: 20px;
    /* Afstand mellem billederne og rækkerne */
    grid-row-gap: 40px;
    /* Afstand mellem rækkerne */
    justify-items: center;
    /* Centrerer billederne horisontalt */
    grid-auto-rows: auto;
    /* Højden justeres automatisk afhængigt af billedet og teksten */
    margin-top: 5px;
    /* Mindre afstand mellem overskriften og billederne */
    width: 100%;
    margin-bottom: 20px;
    /* Mindre afstand mellem billederne og næste sektion */
    cursor: pointer;
}

/* Container for hvert billede og tekst */
.billede-container {
    text-align: center;
    /* Centrerer både billede og tekst */
    cursor: pointer;
}

/* Styling af billederne */
.billede-container img {
    width: 210px;
    height: 210px;
    border-radius: 50%;
    /* Gør billederne runde */
    object-fit: cover;
    /* Sikrer at billedet fylder cirklen uden at blive forvrænget */
    transition: transform 0.3s ease;
    /* Gør effekten glidende og tilføjer varighed */
    cursor: pointer;
}

/* Zoom-effekt på billederne */
.billede-container img:hover {
    transform: scale(1.1);
    /* Forstørrer billedet med 10% */
    cursor: pointer;
}

/* Styling af teksten under billederne */
.billede-container p {
    margin-top: 15px;
    /* Afstand mellem billede og tekst */
    font-size: 20px;
    /* Tekststørrelse */
    color: #B23902;
    /* Tekstfarve */
    cursor: pointer;
    font-family: "Cinzel", serif;
}

/* Styling af overskrifterne */
main h2.overskrift_retter,
main h2.overskrift_salater,
main h2.overskrift_tilbehor {
    font-size: 30px;
    color: #B23902;
    text-align: left;
    /* Venstrestillet */
    margin-left: 6%;
    /* Juster venstre margen efter behov */
    margin-top: 80px;
    /* Mindre afstand mellem overskriften og billederne */
    font-family: "Cinzel", serif;
}

main h2.overskrift_retter {
    margin-top: 0px;
    /* Mindre afstand fra toppen */
}

.overskrift_salater {
    font-size: 20px;
    /* Juster størrelse */
    margin-top: 10px;
    /* Mindre afstand mellem overskrift og billeder */
}

.overskrift_tilbehor {
    font-size: 20px;
    margin-top: 10px;
    /* Mindre afstand til billederne */
    margin-bottom: 40px;
    /* Giver plads til bunden */
}


footer {
    background-color: #e2903a;
    padding: 20px;
    color: #F6F6F6;
}

footer {
    font-family: "Cinzel", serif;
}

.tomprofil {
    position: relative;
    left: 60px;
    top: -10px;
}

main h1.info{
    font-size: 30px;
    color: #B23902;
    /* Venstrestillet */
    margin-left: 6px;
    /* Juster venstre margen efter behov */
    margin-bottom: 5px;
    /* Mindre afstand mellem overskriften og billederne */
    z-index: 2;
    position: relative;
    font-family: "Cinzel", serif;
}
main h1.info {
    margin-top: -210px;
    /* Mindre afstand fra toppen */
    margin-left: 495px;
}
.checked {
    color: orange;
  }
  /* redigering af stjeneratting */
.starrating{
    color: var(--grå);
    margin-right: 25%;
    margin-left: 33%;
  }
  main h3.præferencer{
    font-size: 30px;
    color: #B23902;
    /* Venstrestillet */
    margin-left: 6px;
    /* Juster venstre margen efter behov */
    margin-bottom: 5px;
    /* Mindre afstand mellem overskriften og billederne */
    z-index: 2;
    position: relative;
    font-family: "Cinzel", serif;
}
main h3.præferencer {
    margin-top: 5px;
    /* Mindre afstand fra toppen */
    margin-left: 495px;
}

.feature{
    margin-top: -237px;
    left: 61%;
    position: relative;
}

.checked {
    color: orange;
  }
  /* redigering af stjeneratting */
.starratings{
    color: var(--grå);
    margin-right: 25%;
    margin-left: 24%;
  }


/* Mobilvisning */
@media (max-width: 768px) {
    header {
        display: none; /* Skjul desktop header */
    }

    .headermobil {
        display: flex; /* Vis mobil header */
        text-align: center;
    }

    .logo{
        height: auto;
        transform: translate(-150%);
        left: 25%;
        top: 10%;
    }
    .burger{
        left: 85%; 
    }
    .søge{
        left: 75%
    }
    .søgefelt{
        left: -200px;
    }
    .søgefelt input{
        padding-left: 1px;
        padding-right: 1px;
    }

/* site indghold redigering */
main{
    display: block;
}
.feature {
    display: none;
}
.side1 {
    display: flex;
    justify-content: flex-start;
}
.side1 img{
    margin-top: 8%;
    height: 500px;
    width: 130px;
    margin-right: 132%;
}

.side2{
    display: flex;
    justify-content: flex-end;
}
.side2 img{
    margin-top: -130%;
    height: 500px;
    width: 110px;
    margin-right: -60%;
}

.tomprofil {
    position: absolute;
    left: 40%;
    top: 220px;
    justify-content: center;
    text-align: center;
    display: flex;
}
.tomprofil img {
    width: 300px;
    height: auto;
}

/* Justér galleriet af billeder */
.rundebilleder {
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;
    /* 5 kolonner */
    gap: 20px;
    /* Afstand mellem billederne og rækkerne */
    grid-row-gap: 15px;
    /* Afstand mellem rækkerne */
    justify-items: center;
    /* Centrerer billederne horisontalt */
    grid-auto-rows: auto;
    /* Højden justeres automatisk afhængigt af billedet og teksten */
    margin-top: -20px;
    /* Mindre afstand mellem overskriften og billederne */
    width: 100%;
    margin-bottom: 15px;
    /* Mindre afstand mellem billederne og næste sektion */
    cursor: pointer;
    margin-left: 5%;
}
/* Container for hvert billede og tekst */
.billede-container {
    text-align: center;
    /* Centrerer både billede og tekst */
    cursor: pointer;
}
/* Styling af billederne */
.billede-container img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    /* Gør billederne runde */
    object-fit: cover;
    /* Sikrer at billedet fylder cirklen uden at blive forvrænget */
    transition: transform 0.3s ease;
    /* Gør effekten glidende og tilføjer varighed */
    cursor: pointer;
}
/* Styling af teksten under billederne */
.billede-container p {
    margin-top: 5px;
    /* Afstand mellem billede og tekst */
    font-size: 23px;
    /* Tekststørrelse */
    color: #B23902;
    /* Tekstfarve */
    cursor: pointer;
    font-family: "Cinzel", serif;
}
main h2.overskrift_retter,
main h2.overskrift_salater,
main h2.overskrift_tilbehor {
    font-size: 25px;
    color: #B23902;
    text-align: left;
    /* Venstrestillet */
    margin-left: 6%;
    /* Juster venstre margen efter behov */
    margin-top: 80px;
    /* Mindre afstand mellem overskriften og billederne */
    font-family: "Cinzel", serif;
}
main h2.overskrift_retter {
    margin-top: 150px;
    /* Mindre afstand fra toppen */
}

.overskrift_salater {
    font-size: 10px;
    /* Juster størrelse */
    margin-top: 10px;
    /* Mindre afstand mellem overskrift og billeder */
}

.overskrift_tilbehor {
    font-size: 5px;
    margin-top: 10px;
    /* Mindre afstand til billederne */
    margin-bottom: 40px;
    /* Giver plads til bunden */
}
.checked {
    color: orange;
  }
  /* redigering af stjeneratting */
.starratings{
    color: var(--grå);
    margin-right: -2%;
    margin-left: -2%;
  }
  /* tekst til profilbillede */
  main h1.info {
    /* Mindre afstand fra toppen */
    margin-left: 240px;
    font-size: 25px;
}
.checked {
    color: orange;
  }
  /* redigering af stjeneratting */
.starrating{
    color: var(--grå);
    margin-right: 5%;
    margin-left: 63%;
  }
  main h3.præferencer{
    font-size: 25px;
    color: #B23902;
    /* Venstrestillet */
    margin-left: 6px;
    /* Juster venstre margen efter behov */
    margin-bottom: 5px;
    /* Mindre afstand mellem overskriften og billederne */
    z-index: 2;
    position: relative;
    font-family: "Cinzel", serif;
}
main h3.præferencer {
    margin-top: 5px;
    /* Mindre afstand fra toppen */
    margin-left: 208px;
}
#grilletlaks, 
#boef{
    display: none;
}
#onepot,
#kyllingebryst{
    display: none;
}
footer {
    background-color: #e2903a;
    padding: 20px;
    color: #F6F6F6;
    font-family: "Cinzel", serif;
    position: relative;
    margin-top: auto;
    width: 150%;
    margin-bottom: 0;
    margin-top: 20%;
}

}

@media (max-width: 1024px) and (min-width:768px){
        
    .logo{ 
         position: absolute;
        top: 10%;
        left: 85%;
        width: 25%;
        transform: translate(-50%, -50%);
        z-index: 2;
    } 
    .søge{
        left: 20%;
    }
    .søgefelt{
        left: 10%;
        top: 5%;
    }
    .burger{
        left:10%;
        width: 50px;
    }
    .header_img img{
        display: flex;
        max-width: 100%;
    }
    .Tekst{
        width: 40%;
    }
    .række3 img{
        width: 400px;
        margin: 5% 0 5% 10%;
        
    }
    .feature {
        display: none;
    }
    /* Justér galleriet af billeder */
.rundebilleder {
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;
    /* 5 kolonner */
    gap: 20px;
    /* Afstand mellem billederne og rækkerne */
    grid-row-gap: 20px;
    /* Afstand mellem rækkerne */
    justify-items: center;
    /* Centrerer billederne horisontalt */
    grid-auto-rows: auto;
    /* Højden justeres automatisk afhængigt af billedet og teksten */
    margin-top: -20px;
    /* Mindre afstand mellem overskriften og billederne */
    width: 100%;
    margin-bottom: 80px;
    /* Mindre afstand mellem billederne og næste sektion */
    cursor: pointer;
    margin-left: 5%;
    }

/* Styling af billederne */
.billede-container img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    /* Gør billederne runde */
    object-fit: cover;
    /* Sikrer at billedet fylder cirklen uden at blive forvrænget */
    transition: transform 0.3s ease;
    /* Gør effekten glidende og tilføjer varighed */
    cursor: pointer;
    margin-left: -48%;
}
/* Styling af teksten under billederne */
.billede-container p {
    margin-top: 5px;
    /* Afstand mellem billede og tekst */
    font-size: 23px;
    /* Tekststørrelse */
    color: #B23902;
    /* Tekstfarve */
    cursor: pointer;
    font-family: "Cinzel", serif;
    margin-left: -45%;
}
main h2.overskrift_retter,
main h2.overskrift_salater,
main h2.overskrift_tilbehor {
    font-size: 25px;
    color: #B23902;
    text-align: left;
    /* Venstrestillet */
    margin-left: 6%;
    /* Juster venstre margen efter behov */
    margin-top: 80px;
    /* Mindre afstand mellem overskriften og billederne */
    font-family: "Cinzel", serif;
}
main h2.overskrift_retter {
    margin-top: 150px;
    /* Mindre afstand fra toppen */
}

.overskrift_salater {
    font-size: 10px;
    /* Juster størrelse */
    margin-top: 10px;
    /* Mindre afstand mellem overskrift og billeder */
}

.overskrift_tilbehor {
    font-size: 5px;
    margin-top: 10px;
    /* Mindre afstand til billederne */
    margin-bottom: 40px;
    /* Giver plads til bunden */
}

.checked {
    color: orange;
  }
  /* redigering af stjeneratting */
.starratings{
    color: var(--grå);
    margin-right: 35%;
    margin-left: -10%;
  }
  /* tekst til profilbillede */
  main h1.info {
    margin-top: -200px;
    /* Mindre afstand fra toppen */
    margin-left: 500px;
    font-size: 25px;
}
.checked {
    color: orange;
  }
  /* redigering af stjeneratting */
.starrating{
    color: var(--grå);
    margin-right: 5%;
    margin-left: 63%;
  }
  main h3.præferencer{
    font-size: 25px;
    color: #B23902;
    /* Venstrestillet */
    margin-left: 6px;
    /* Juster venstre margen efter behov */
    margin-bottom: 5px;
    /* Mindre afstand mellem overskriften og billederne */
    z-index: 2;
    position: relative;
    font-family: "Cinzel", serif;
}
main h3.præferencer {
    margin-top: 5px;
    /* Mindre afstand fra toppen */
    margin-left: 475px;
}

#grilletlaks, 
#boef{
    display: none;
}
#onepot,
#kyllingebryst{
    display: none;
}
}